In [94]:
import pandas as pd
import numpy as np

# test = pd.read_csv('/Dataset/test.csv')
# test_OG = test.copy()
train = pd.read_csv('Dataset/train.csv')
train_OG = train.copy()

In [95]:


#Missing values filling for train
train['Gender'].fillna(train['Gender'].mode()[0],inplace=True)
train['Married'].fillna(train['Married'].mode()[0],inplace=True)
train['Dependents'].fillna(train['Dependents'].mode()[0],inplace=True)
train['Self_Employed'].fillna(train['Self_Employed'].mode()[0],inplace=True)
train['Credit_History'].fillna(train['Credit_History'].mode()[0],inplace=True)
train['LoanAmount'].fillna(train['LoanAmount'].median(),inplace= True)
train['Loan_Amount_Term'].fillna(train['Loan_Amount_Term'].mode()[0],inplace= True)

from sklearn.model_selection import train_test_split
train,test = train_test_split(train,test_size=0.25)

In [96]:
test.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
218,LP001732,Male,Yes,2,Graduate,No,5000,0.0,72.0,360.0,0.0,Semiurban,N
48,LP001146,Female,Yes,0,Graduate,No,2645,3440.0,120.0,360.0,0.0,Urban,N
244,LP001811,Male,Yes,0,Not Graduate,No,3406,4417.0,123.0,360.0,1.0,Semiurban,Y
200,LP001674,Male,Yes,1,Not Graduate,No,2600,2500.0,90.0,360.0,1.0,Semiurban,Y
380,LP002226,Male,Yes,0,Graduate,No,3333,2500.0,128.0,360.0,1.0,Semiurban,Y

In [97]:

submission = test[['Loan_ID','Loan_Status']]
submission = pd.DataFrame(submission)
submission = submission.set_index('Loan_ID')
submission.to_csv('Dataset/submission.csv')
submission.head()

         Loan_Status
Loan_ID
LP001732           N
LP001146           N
LP001811           Y
LP001674           Y
LP002226           Y

In [98]:
# test = pd.DataFrame(test)
# test = test.set_index('Loan_ID')
# test.to_csv('Dataset/test.csv')

In [99]:
test.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
218,LP001732,Male,Yes,2,Graduate,No,5000,0.0,72.0,360.0,0.0,Semiurban,N
48,LP001146,Female,Yes,0,Graduate,No,2645,3440.0,120.0,360.0,0.0,Urban,N
244,LP001811,Male,Yes,0,Not Graduate,No,3406,4417.0,123.0,360.0,1.0,Semiurban,Y
200,LP001674,Male,Yes,1,Not Graduate,No,2600,2500.0,90.0,360.0,1.0,Semiurban,Y
380,LP002226,Male,Yes,0,Graduate,No,3333,2500.0,128.0,360.0,1.0,Semiurban,Y

In [100]:
#outlier treatment
train['LoanAmount_Log'] = np.log(train['LoanAmount'])
# train['LoanAmount_Log'].hist()
test['loanAmount_Log'] = np.log(test['LoanAmount'])

In [101]:
#final changes for model ready dataset

train = train.drop('Loan_ID',axis = 1)

In [108]:

# test = test.drop('Loan_ID',axis = 1)
test_OG = test.copy()

test.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,loanAmount_Log,Loan_ID_LP001003,Loan_ID_LP001006,Loan_ID_LP001011,Loan_ID_LP001028,...,Dependents_3+,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban,Loan_Status_N,Loan_Status_Y
218,5000,0.0,72.0,360.0,0.0,4.276666,0,0,0,0,...,0,1,0,1,0,0,1,0,1,0
48,2645,3440.0,120.0,360.0,0.0,4.787492,0,0,0,0,...,0,1,0,1,0,0,0,1,1,0
244,3406,4417.0,123.0,360.0,1.0,4.812184,0,0,0,0,...,0,0,1,1,0,0,1,0,0,1
200,2600,2500.0,90.0,360.0,1.0,4.499810,0,0,0,0,...,0,0,1,1,0,0,1,0,0,1
380,3333,2500.0,128.0,360.0,1.0,4.852030,0,0,0,0,...,0,1,0,1,0,0,1,0,0,1

In [103]:
X = train.drop('Loan_Status',axis=1)
y = train.Loan_Status

In [104]:

X = pd.get_dummies(X)
train=pd.get_dummies(train)
test=pd.get_dummies(test)

In [105]:

#model using logistic regression

x_train, x_test, y_train, y_test = train_test_split(X,y, test_size=0.3)

In [106]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
model = LogisticRegression()
model.fit(x_train,y_train)#model trained

pred_test = model.predict(x_test)

C:\Users\TEMP.NIKITA.000.001.002.003\AppData\Roaming\Python\Python39\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [107]:
submission = pd.read_csv('Dataset/submission.csv')
print(submission.head())


submission['Loan_Status'] = pred_test
submission['Loan_ID'] = test_OG['Loan_ID']
submission['Loan_Status'].replace(0,'N',inplace = True)
submission['Loan_Status'].replace(1,'Y',inplace = True)
pd.DataFrame(submission,columns=['Loan_ID','Loan_Status']).to_csv('goal.csv')

    Loan_ID Loan_Status
0  LP001732           N
1  LP001146           N
2  LP001811           Y
3  LP001674           Y
4  LP002226           Y

ValueError: Length of values (138) does not match length of index (154)